.header-component-container {
  height: 80px; width: 100%;
  background-color: $c-main-blue;
  color: $c-white;
  font-size: 20px;
  .header-row {
    padding-top: 7px;
    .header-link, .header-title {
      color: inherit;
    }
    .header-link {
      &:nth-child(2) {
        margin-left: 20px;
      }
    }
    .header-title {
      color: $c-white;
      font-weight: bold;
    }
  }
}