$c-black: #000000;
$c-charcoal: #333333;
$c-white: #FFFFFF;
$c-light-blue: #ECF3F5;
$c-gray: #EFEFEF;
$c-gray-1: #E3E3E3;
$c-gray-2: #d3d3d3;
$c-gray-3: #c4c4c4;
$c-aqua: #2c5f6e;
$c-main-blue: #008CBA;
$c-navy-blue: #0068FF;
$c-success-green: #43AC6A;
$c-red: #FF0000;
$c-orange: #F06E28;
$c-fuschia: #dd0874;
$c-purple: #7A00E5;
$c-yellow: #FFDF06;