@import 'color-mappings';
@import 'foundation';

// Pages
@import '../pages/Index/Index';

// Components
@import '../components/Header/Header';
@import '../components/Footer/Footer';
@import '../components/LoadingWave/LoadingWave';

.color0 {
  background-color: $c-main-blue;
}

.color1 {
  background-color: $c-success-green;
}

.color2 {
  background-color: $c-purple;
}

.color3 {
  background-color: $c-yellow;
}

.color4 {
  background-color: $c-red;
}

.color5 {
  background-color: $c-aqua;
}

.color6 {
  background-color: $c-fuschia;
}

.color7 {
  background-color: $c-orange;
}

.color8 {
  background-color: $c-charcoal;
}

.color9 {
  background-color: $c-navy-blue;
}

.color10 {
  background-color: $c-light-blue
}

.gray {
  background-color: $c-gray-3;
}